html,
body {
	height: 100vh;
}

.tabulator {
	.tabulator-col-title {
		text-align: 'center';
	}
}

.header {
	-webkit-box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.35);
	box-shadow: 0px 0px 41px -7px rgba(0, 0, 0, 0.35);
}

.cheap {
	background-color: lightgreen;
}

.expensive {
	background-color: lightsalmon;
}

.normal {
	background-color: lightblue;
}